@import "../../palette.styl"

.contact

  .submit-button
    color white
    border-color $accent-color
    background-color $accent-color
    font-weight 700
    border-radius 3px
    font-size 18px
    padding 20px 40px


    &:hover
      color white
      background-color #D39E00

    &:focus
      box-shadow 0 0 0 2px rgba(255, 193, 7, 0.5)
      outline 0

    &:active
      border-color rgb(201, 151, 0)