@import "../../palette.styl"

header
  background url("../../image/mic4-bg-ext-cropped.jpg") no-repeat center center
  background-size cover
  text-align center
  width 100%
  height 100vh
  color white

  .intro-header
    margin 0
    padding 0

    .intro-text
      padding-top 40px
      padding-bottom 100px

      .intro-lead-in
          font-style italic
          font-size 22px
          line-height 22px
          margin-bottom 25px

      .intro-heading
          font-weight 1200
          font-size 50px
          line-height 50px
          margin-bottom 20px
          font-family 'Ubuntu', sans-serif