@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../scss/constants.scss";

.Mark {
  background-color: $primary-color-dark;
}

.Mark__services {
  background-color: white;
  .service-icon {
    color: $accent-color;
  }
}

.Mark__portfolio {
  background-color: $accent-color;
  color: $primary-color-text;
  .service-icon {
    color: $accent-color;
  }
}
