@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../scss/constants.scss";

.Mark {
  background-color: $primary-color-dark;
}

.Mark__services {
  background-color: $primary-color-light;
  color: $primary-text-color;
  .service-icon {
    color: $accent-color;
  }
}

.Mark__portfolio {
  background-color: $accent-color;
  color: white;
  .service-icon {
    color: $accent-color;
  }
}

.Main__background-filter {
  // -webkit-filter: sepia(50%);
  // filter: saturate(50%);
}
