@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../scss/constants.scss";

.Mark {
  background-color: $primary-color-dark;
}

.Mark__services {
  // background-color: $primary-color-text;
  color: $primary-text-color;
  .service-icon {
    color: $accent-color;
  }
}

.Mark__portfolio {
  background-color: $primary-color-light;
  background: url('../../../image/mic6-bg.jpg') no-repeat center center;
  background-size: cover;
  color: $primary-color-text;
  .service-icon {
    color: $accent-color;
  }

  .portfolio-background-box {
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100%;
    background-color: rgba(97,97,97,0.7);
  }

  .portfolio-img {
    border-radius: 50%;
    border-width: 2px;
    border-color: $accent-color;
    height: 150px;
    width: 150px;
    margin: 20px 20px;
  }

}

.Main__background-filter {
  // -webkit-filter: sepia(50%);
  // filter: saturate(50%);
}

hr.primary {
  border-color: $accent-color;
}

hr.light {
  border-color: $primary-color-text;
}
