@import "../../palette.styl"

.portfolio
  padding 0
  background-color $primary-color-light
  background-image url("../../image/mic6-bg.jpg")
  background-repeat no-repeat
  background-position center center
  background-size cover
  color $primary-color-text


  .portfolio-background-box
    margin 0
    padding 30px
    background-size cover
    height 100%
    background-color rgba(97, 97, 97, 0.7)
