@import "../../palette.styl"

.portfolio
  background-color $primary-color-light
  background url("../../image/mic6-bg.jpg") no-repeat center center
  background-size cover
  color $primary-color-text

  .service-icon
    color $accent-color

  .portfolio-background-box
    margin 0
    padding 0
    background-size cover
    height 100%
    background-color rgba(97, 97, 97, 0.7)

  .portfolio-img
    margin 20px
    border-radius 50%
    border-width 2px
    border-color $accent-color
    width 150px
    height 150px
