@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./constants.scss";
@import ".fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}


// Import component SCSS
@import "./components/FrontView.scss";