@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./constants.scss";
@import "./fonts.scss";

body {
    overflow-x: hidden;
}

header {
  background: url('../image/mic2-bg.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;

  .intro-header {
      padding: 0;
      margin: 0;
      .intro-text {
          padding-top: 200px;
          padding-bottom: 200px;
          .intro-lead-in {
              font-style: italic;
              font-size: 22px;
              line-height: 22px;
              margin-bottom: 25px;
          }
          .intro-heading {
              font-weight: 700;
              font-size: 50px;
              line-height: 50px;
              margin-bottom: 25px;
          }
      }
  }
}

hr {
  border-width: 3px;
  max-width: 75px;
  padding-bottom: 20px;
}

hr.primary {
  border-color: $accent-color;
}

hr.light {
  border-color: $primary-color-text;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $accent-color, $accent-color);
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $accent-color, $accent-color);
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-custom {
    border-color: transparent;
    .navbar-brand {
        color: $accent-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($accent-color, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $accent-color;
        border-color: $accent-color;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $accent-color;
        }
    }
    .nav {
        li {
            a {
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color: $accent-color;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $accent-color;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($accent-color, 10%);
    }
}

@media (min-width: 768px) {
    .container-fluid {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}
// Global Section Styles

section {
    padding: 30px 0;
    margin: 15px;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    h3.section-subheading {
        font-size: 16px;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}
