@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./constants.scss";
@import "./fonts.scss";

body {
    background-image: url('../image/mic3-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    text-align: center;
    color: white;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $accent-color, $accent-color);
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $accent-color, $accent-color);
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-custom {
    border-color: transparent;
    .navbar-brand {
        color: $accent-color;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($accent-color, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $accent-color;
        border-color: $accent-color;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $accent-color;
        }
    }
    .nav {
        li {
            a {
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color: $accent-color;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $accent-color;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($accent-color, 10%);
    }
}

header {
    .intro-text {
        padding-top: 200px;
        padding-bottom: 50px;
        .intro-lead-in {
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}